.tag-div{
    background-color: #e6e6e6;
    color:#767676;
    border-radius: 2px;
    text-align: center;
    padding: 0.25rem;
    height: 1.3rem;
    margin: 5px 0 5px 0;
    font-family: 'ECA Regular', sans-serif;
    font-size: 0.7rem;
}
