.modal{
    display: block;
    margin: auto;
    font-family: 'ECA Regular',sans-serif;
    text-align: center;
}
.image-preview > img {
    border-radius: 8px;
    max-height: 40vw;
    max-width: 40vw;
}

.downloadLinks > button{
    background-color: rgb(62, 57, 95);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    font-size: 0.75rem;
    cursor: pointer;
}
.downloadLinks > button > .downloadIcon {
    color: #03de62;
}
.mainInfoDiv{
    background-color: rgb(233, 236, 247);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.mainInfoDiv > h1 {
    color :#1dbebe;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.mainInfoDiv > div > h1  {
    color :#1dbebe;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    text-align: unset;
}
.downloadLinks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    text-align: unset;
    padding-bottom: 20px;    
}
.image-card-tags > h3{
    color: #1dbebe;
}