@font-face {
    font-family: "ECA Regular";
    src: url('./fonts/ECA-regular.ttf') format('truetype');
}
@font-face {
    font-family: "ECA Regular";
    src: url('./fonts/ECA-bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "ECA Regular";
    src: url('./fonts/ECA-semibold.ttf') format('truetype');
    font-weight: 500;
}

body{
    font-family: "ECA Regular",sans-serif;
    margin: 0;
    padding: 0;
    /* background: url('https://picsum.photos/2160/3840');
    background-repeat: no-repeat;
    background-clip: content-box;
    overflow: hidden; */
    background: rgb(164,251,202);
    background: -moz-linear-gradient(90deg, rgba(164,251,202,1) 0%, rgba(1,116,194,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(164,251,202,1) 0%, rgba(1,116,194,1) 100%);
    background: linear-gradient(90deg, rgba(164,251,202,1) 0%, rgba(1,116,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4fbca",endColorstr="#0174c2",GradientType=1);    
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0.1rem 0 0.5rem #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
}